/*font famille*/
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Irish+Grover&family=Special+Gothic+Expanded+One&family=Whisper&display=swap');


































.servicesection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#h1 {
    text-align: center;
    font-family: "Whisper", cursive;
    font-style: normal;
    font-size: 50px;
    justify-content: center;
    padding-bottom: 20px;


}

#h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
    font-style: italic;
    color: rgb(206, 206, 13);
    font-size: 50px;

}

.body {
    margin: 0%;
}



.img>img {
    width: 500px; 
    border-radius: 25%;

}

.equipe {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    font-size: 50px;

}

.equipe_info {
    display: flex;
    justify-content: space-between;
    font-size: 50%;
    padding: 30px;


}

.equipe_info h4 {
    font-weight: 100;
    font-size: 20px;
    color: grey;
}

.equipe_info img {
    border-radius: 50%;
}

.aboute-section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(138, 46, 219);
    align-items: center;
    border-radius: 20px;

}


.aboute-section img {
    width: 300px;
    padding-left: 10px 10 10 10;
    padding: 0 0 20px 20px;
    margin: 20px;

}

.aboute-section p {
    color: white;
    font-size: 25px;
    font-family: "Irish Grover", system-ui;
    font-style: normal;
}

.aboute-section h1 {
    font-size: 40px;
    padding: 20px;
    text-align: center;

}

/*   Nos services*/

.nos-services img {

    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;


}

.servicesimages {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.servicesimages p {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    padding: 20px;


}

.sectioninfo {
    text-align: center;
}

.nos-services {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20;
}

.nos-services h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

.nos-services p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}










/* contact*/
.contact-container {
    background-color: #ffffff;
    /* Dark transparent background */
    color: rgb(0, 0, 0);
    padding: 70px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgb(138, 46, 219);
    ;
    background-color: rgb(205, 156, 247);
    align-items: center;
    margin-left: 300px
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 2rem;
    margin-bottom: px;
    font-size: 20px;
}

input {
    padding: 12px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
}

input:focus {
    border-color: #0066cc;
}

button {
    padding: 12px;
    background-color: rgb(138, 46, 219);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d65b69
}

button:active {
    background-color: #a9045c;
}

/* nav bar */
nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

nav h1 {
    color: rgb(248, 0, 207);
    font-size: xx-large;
    text-align: center;
    border-radius: 12px;
    border-color: #c206bf;
}

ul li a {

    text-decoration: none;
    border-color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 10%;
    font-size: large;
    color: rgb(242, 242, 242);
    padding: 20px 20px 20px 20px;
    text-transform: capitalize;
}

ul li {
    display: inline-block;



}

ul li a:hover {
    color: rgb(14, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(255, 0, 208);
}

nav button {
    color: #ffffff;
    text-transform: capitalize;
    font-size: large;
    border-radius: 200PX;
    background-color: rgb(42, 4, 124);
    padding: 0px 20px 0px 20PX;
    margin: 20px;

}